@font-face {
    font-family: "SVN-artful";
    src: url(../fonts/SVN-Artful\ Beauty.ttf);
  }
  * {
    margin: 0;
    padding: 0;
    
  }
  
  .logo_box {
    position: relative;
    width: 100%;
  }
  
  .logo {
    margin-left: 15%;
    margin-top: 20px;
    position: absolute;
    top: 5lpx;
  }
  
a {
  text-decoration: none;
  color: black;
  margin-bottom: 5rem;
  font-size: 18px;
}
  
ul {
 list-style: none;
 text-align: right;
 /* sử dụng text-align để canh chỉnh văn bản sang phải */
 margin-right: 50px;
  }
  
li {
  display: inline-block;
  margin-right: 100px;
 /* thêm khoảng cách 20px giữa các mục */
  font-size: 18px;
  margin-top: 45px;
  }
/* banner ở đây */
.IMG-BANNER{
  position: relative;
  margin-top: 15px;
}
.title-img1{
  position: absolute;
  top: 27%;
  left: 350px;
}
/* chữ trong banner */
#ts-small{
  font-size: 30px;
}
#ts-big{
  margin-top: 30%;
  font-size: 20px;
}
#ts-big2{
  font-size: 20px;
}

  h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 35px;
  }
  .d-flex{
    display: flex;
  }
  .col-md-2{
    margin: 5%;

    
  }

  .card-title{
    text-align: center;
    font-size: 20px;
  }
  
  .carousel-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    margin-right: 30px;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
  }
  
  
  
  #product-la {
    
    margin-right: 5rem;
  }
  
  .card {
    border: none !important;
  }
  
  .justify-content_box {
    justify-content: right !important;
    margin-right: 250px;
    position: absolute;
    right: -50px;
    top: 750px;
    
  }
  
  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container{
    margin: 0;
    padding: 0;
    position: relative;
  }
  .main-content{
    position: absolute;
    top: 250px;
  }
  .main-content, title {
    left: 25%;
  }
  .main-content{
    margin-top: ;
    right: 50%;
  }
  .tea-info{
    margin-top: 110px;
    text-align: justify;
}
/* giới thiệu */
#tsbd{
  font-family: "SVN-artful";
  font-size: 6rem;
  color: #9cbe38;
  margin-top: 10px;
  position: relative;
}
#tsbd2{
  position: absolute;
  top: 90%;
}
.read-more{
  margin-top: 30px;
}
/* căn giữa chữ giới thiệu */
#gt{
margin-right: -425px; 
}
/* dàn hàng cho các nghệ nhân */
.nghenhan-content{
    display: flex;
    position: absolute;
    top: ;
    text-align: center;
    margin-top: -55rem;
    width: 30px;
    margin-left: 20rem;
    grid-column-gap: 30px ;
  }
  .nghenhan-content, h4{
    font-size: 14px;
  }
  #tt{
    position: relative;
    justify-content: center;
    margin-inline: calc(40%);
    margin-top: 50px;
  }
  
  /* form mua ngay */
  .muaNgay{
    position: fixed;
  }
  .purchase-form{
    margin-top: 550px;
    margin-left: -65rem;
  
    
  }
  #email{
    width: 700px;
    height: 40px;
    display: flex;
    margin-right: 20px;
    border-color: #c5dc81;
  }
  .em-sb{
    margin-top: 70px;
    display: flex;
  
  
  
    
  }
  #sub{
    width: 150px;
    height: 40px;
    background-color: #c5dc81;
    border: none;
    display: inline-block;
  
  }
  .ccc .fotter2{
    position: absolute;
    top: 10px;
  }
  
  .fotter2{
    display: flex;
    margin: 50px;
  }
  .ttlh{
    float: left;
  
    padding: 200px;
  }
  
  #cava{
    margin:0px;
  }
  
  
  
  
  
  